.section.career.section--center.about-us-career
    a(href="#").career-video
        img(src="assets/img/career-video-image.png").career-video__image
        .career-video__play
            svg.icon.icon-font
                use(xlink:href='assets/icons/icons.svg#icon-play')
        img(src="assets/img/career-video-arrow.svg").career__arrow
        img(src="assets/img/career-video-article.svg").career__article
    h2.title.title--lg.title--colored.career__title Best office environment with&nbsp;
        span great people.
    p.text.career__text Trifles Games is a mobile gaming studio founded in 2014. As a team we have a passionate joy for mobile games which we desire to share it with everyone!unique art styles & good mechanics!
    a(href="#").btn.btn--primary Career

