.post
    - var sayac = 0;
    while sayac < 6
        a(href="career-detail.html").post-item
            .post-item-top
                .post-item-top-image
                    img(src="assets/img/post-item-image.jpg")
                .btn.btn--post.btn--small.post-item__button FULL TIME
            .post-item-bottom
                .title.title--sm.bottom__title Marketing Artist
                    span.d-block (Motion Graphic Designer)
                .text.location
                    img(src="assets/img/location.svg")
                    span Istanbul
                .more Viev & Apply

        - sayac++
    img(src="assets/img/career-arrow-2.svg").post__arrow
    img(src="assets/img/post-article.svg").post__article