.social
    a.social__item.instagram(href='#0')
        svg.icon.icon-font
            use(xlink:href='assets/icons/icons.svg#icon-instagram')
    a.social__item.facebook(href='#0')
        svg.icon.icon-font
            use(xlink:href='assets/icons/icons.svg#icon-facebook')
    a.social__item.linledin.active(href='#0')
        svg.icon.icon-font
            use(xlink:href='assets/icons/icons.svg#icon-linkedin')
    a.social__item.twitter(href='#0')
        svg.icon.icon-font
            use(xlink:href='assets/icons/icons.svg#icon-twitter')
     


