.accordion 
    .accordion-top 
        .accordion-top-title    
            h2.title.title--lg Param'ın Faydaları Nelerdir?
        .accordion-top-subtitle 
            p.title.title--xxl Her ihtiyacınızı karşılayan bir hesap düşünün!
    .accordion-banner 
        .arkaplan
        .accordion-banner-item
            .accordion-banner-item__info 
                .accordion-banner-item__info-img
                    img(src="assets/img/cash-review.svg", alt="")
                .accordion-banner-item__info-title
                    h2.title.title--sm Kartların Arası Para Gönder
                    span Anlaşmalı bankalarımızla 7/24 Transfer Yap!
            .accordion-banner-item__img
                img(src="assets/img/Image9.png", alt="")
            .progressbar 
                .myProgress
                    .myBar
        .accordion-banner-item
            .accordion-banner-item__info 
                .accordion-banner-item__info-img
                    img(src="assets/img/cash-review.svg", alt="")
                .accordion-banner-item__info-title
                    h2.title.title--sm Kartların Arası Para Gönder
                    span Anlaşmalı bankalarımızla 7/24 Transfer Yap!
            .accordion-banner-item__img
                img(src="assets/img/Image9.png", alt="")
            .progressbar 
                .myProgress
                    .myBar
        .accordion-banner-item
            .accordion-banner-item__info 
                .accordion-banner-item__info-img
                    img(src="assets/img/cash-review.svg", alt="")
                .accordion-banner-item__info-title
                    h2.title.title--sm Kartların Arası Para Gönder
                    span Anlaşmalı bankalarımızla 7/24 Transfer Yap!
            .accordion-banner-item__img
                img(src="assets/img/Image9.png", alt="")
            .progressbar 
                .myProgress
                    .myBar
        .accordion-banner-item
            .accordion-banner-item__info 
                .accordion-banner-item__info-img
                    img(src="assets/img/cash-review.svg", alt="")
                .accordion-banner-item__info-title
                    h2.title.title--sm Kartların Arası Para Gönder
                    span Anlaşmalı bankalarımızla 7/24 Transfer Yap!
            .accordion-banner-item__img
                img(src="assets/img/Image9.png", alt="")
            .progressbar 
                .myProgress
                    .myBar
        .accordion-banner-item
            .accordion-banner-item__info 
                .accordion-banner-item__info-img
                    img(src="assets/img/cash-review.svg", alt="")
                .accordion-banner-item__info-title
                    h2.title.title--sm Kartların Arası Para Gönder
                    span Anlaşmalı bankalarımızla 7/24 Transfer Yap!
            .accordion-banner-item__img
                img(src="assets/img/Image9.png", alt="")
            .progressbar 
                .myProgress
                    .myBar
        .accordion-banner-item
            .accordion-banner-item__info 
                .accordion-banner-item__info-img
                    img(src="assets/img/cash-review.svg", alt="")
                .accordion-banner-item__info-title
                    h2.title.title--sm Kartların Arası Para Gönder
                    span Anlaşmalı bankalarımızla 7/24 Transfer Yap!
            .accordion-banner-item__img
                img(src="assets/img/Image9.png", alt="")
            .progressbar 
                .myProgress
                    .myBar

    
            
                            





















               


                