if card == "card-1"
    .card-1
        .card-1-image
            img(src="assets/img/kard.svg", alt="")
        .card-1-title.title.title--lg
            h5 Nakit Sevenler
        .card-1-text.title.title--xs
            p Boyner alışverişinizin %5’i anında iade! Boyner alışverişin anında iade!
if card == "card-2"
    
    .card-2
        
        .card-2-left 
            .card-2-left-title.title.title--lg
                span Paramla Harca 
                span Anında Nakit Kazan! 
            .card-2-left-text.title.title--xl
                p Paramda hesabını bilerek harcarsın, eksi bakiyeye düşmezsin. Harcamalarını takip eder, üye iş yerlerinden indirimler kazanırsın!
            .card-2-left-banner
                a(href="").btn.btn--green.btn--big 
                    span Hemen Hesap Aç
                .card-2-left-banner-text 
                    img(src="assets/img/ok.svg", alt="")
                    p.title.title--xxs Dakikalar içerisinde hesap oluştur!

        .card-2-right 
            img(src="assets/img/Image7.png", alt="")
if card == "card-3"
    .card-3
        .card-3-left   
            
        .card-3-right 
            .card-3-right-title 
                p.title.title--xmd ParamTIK ile Ödeme Al
            .card-3-right-text 
                p.title.title--xl Şirketin olmadan, istediğin platformdan ödeme alabilirsin!
            a.btn.btn--big.btn--transparent(href="") Daha Fazla
if card == "card-4"
    .card-4
        .card-4-left   
             
        .card-4-right 
            .card-4-right-title
                p.title.title--xmd Düşük Komisyonlu SanalPOS 
            .card-4-right-text 
                p.title.title--xl En düşük faiz oranları ve valör Avantajlarıyla beraber!
            a.btn.btn--big.btn--transparent(href="") Daha Fazla