doctype html
html(lang="tr")
    head
        block head
            meta(charset='UTF-8')
            meta(http-equiv='X-UA-Compatible', content='IE=edge')
            meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1')
            link(rel='icon' type='image/png' sizes='16x16' href='assets/img/group266.png')
        block styles
            link(href="https://unpkg.com/swiper@7/swiper-bundle.min.css",rel='stylesheet')
            link(href="assets/css/style.css",rel='stylesheet')


    body
        block vars


        block header
            header.header
                .container
                    navbar.navbar 
                        .navbar-left 
                            .dropdown 
                                button#myDropdown.dropdown-btn.title--xs.js-open-sub-menu  Bireysel
                                .dropdown-content
                                    .dropdown-content-top 
                                        .dropdown-content-top-left 
                                            a(href="").dropdown-content-item 
                                                .dropdown-content-item-image 
                                                .dropdown-content-item-content  
                                                    .dropdown-content-item-content-title.title--xs Kartlar
                                                    .dropdown-content-item-content-text.title--xxs Kısa Bir Açıklama 
                                            a(href="").dropdown-content-item 
                                                .dropdown-content-item-image 
                                                .dropdown-content-item-content  
                                                    .dropdown-content-item-content-title.title--xs Ödeme Yap 
                                                    .dropdown-content-item-content-text.title--xxs Kısa Bir Açıklama 
                                            a(href="").dropdown-content-item 
                                                .dropdown-content-item-image 
                                                .dropdown-content-item-content  
                                                    .dropdown-content-item-content-title.title--xs Hızlı Kredi 
                                                    .dropdown-content-item-content-text.title--xxs Kısa Bir Açıklama 
                                            a(href="").dropdown-content-item 
                                                .dropdown-content-item-image 
                                                .dropdown-content-item-content  
                                                    .dropdown-content-item-content-title.title--xs Param Mobil 
                                                    .dropdown-content-item-content-text.title--xxs Kısa Bir Açıklama 
                                        .dropdown-content-top-right
                                            a(href="").dropdown-content-item 
                                                .dropdown-content-item-image 
                                                .dropdown-content-item-content  
                                                    .dropdown-content-item-content-title.title--xs Ödeme Al
                                                    .dropdown-content-item-content-text.title--xxs Kısa Bir Açıklama
                                            a(href="").dropdown-content-item 
                                                .dropdown-content-item-image 
                                                .dropdown-content-item-content  
                                                    .dropdown-content-item-content-title.title--xs Transfer Yap 
                                                    .dropdown-content-item-content-text.title--xxs Kısa Bir Açıklama
                                            a(href="").dropdown-content-item 
                                                .dropdown-content-item-image 
                                                .dropdown-content-item-content  
                                                    .dropdown-content-item-content-title.title--xs Param Güvende 
                                                    .dropdown-content-item-content-text.title--xxs Kısa Bir Açıklama
                                    .dropdown-content-banner 
                                        .dropdown-content-banner-left 
                                            a(href="#") Kampanyalar 
                                            a(href="#") Hakkımızda 
                                        .dropdown-content-banner-right 
                                            a(href="#") Oranlar ve Ücretler
                                            a(href="#") Destek   
                            .dropdown 
                                button.dropdown-btn.title--xs.js-open-sub-menu  Kurumsal
                                .dropdown-content
                                    .dropdown-content-top 
                                        .dropdown-content-top-left 
                                            a(href="").dropdown-content-item 
                                                .dropdown-content-item-image 
                                                .dropdown-content-item-content  
                                                    .dropdown-content-item-content-title.title--xs Kartlar 
                                                    .dropdown-content-item-content-text.title--xxs Kısa Bir Açıklama 
                                            a(href="").dropdown-content-item 
                                                .dropdown-content-item-image 
                                                .dropdown-content-item-content  
                                                    .dropdown-content-item-content-title.title--xs Kartlar 
                                                    .dropdown-content-item-content-text.title--xxs Kısa Bir Açıklama 
                                        .dropdown-content-top-right
                                            a(href="").dropdown-content-item 
                                                .dropdown-content-item-image 
                                                .dropdown-content-item-content  
                                                    .dropdown-content-item-content-title.title--xs Kartlar 
                                                    .dropdown-content-item-content-text.title--xxs Kısa Bir Açıklama
                                            a(href="").dropdown-content-item 
                                                .dropdown-content-item-image 
                                                .dropdown-content-item-content  
                                                    .dropdown-content-item-content-title.title--xs Kartlar 
                                                    .dropdown-content-item-content-text.title--xxs Kısa Bir Açıklama
                                    .dropdown-content-banner 
                                        .dropdown-content-banner-left 
                                            a(href="#") Kampanyalar 
                                            a(href="#") Hakkımızda 
                                        .dropdown-content-banner-right 
                                            a(href="#") Oranlar ve Ücretler
                                            a(href="#") Destek
                                
                        .navbar-right 
                            .navbar-right-links.title--xxs 
                                a(href="") Kampanyalar 
                                a(href="") Hakkımızda
                                a(href="") Oranlar ve Ücretler
                                a(href="") Destek
                            .navbar-right-langs
                                .langs
                                    .langs-menu
                                        .langs-menu__image
                                            img(src="assets/img/tr.svg", alt="")
                                        span.langs-menu__code TR 
                                    .langs-menu-content
                                        a(href="https://bilimzeytinburnu.org/").langs-menu-content__item
                                            .langs-menu__image 
                                                img(src="assets/img/tr.svg", alt="") 
                                                span.langs-menu__code TR
                                        a(href="").langs-menu-content__item
                                            .langs-menu__image 
                                                img(src="assets/img/tr.svg", alt="") 
                                                span.langs-menu__code EN
                    .header-banner 
                        .header-banner-logo 
                            a(href="index.html")
                                img(src="assets/img/3260.svg", alt="") 
                        .header-banner-login 
                            a(href="").title.title--sm.title--underlined Hemen Kaydol
                            a(href="#").btn.btn--small.btn--green Giriş Yap    
                        .header-banner-language  
                            .langs
                                .langs-menu
                                    .langs-menu__image
                                        img(src="assets/img/tr.svg", alt="")
                                    span.langs-menu__code TR 
                                .langs-menu-content
                                    a(href="").langs-menu-content__item
                                        .langs-menu__image 
                                            img(src="assets/img/tr.svg", alt="") 
                                            span.langs-menu__code TR
                                    a(href="").langs-menu-content__item
                                        .langs-menu__image 
                                            img(src="assets/img/tr.svg", alt="") 
                                            span.langs-menu__code EN   
                        .header-banner-menu__button.js-open-menu
                        .header-banner-menu
                            .tab
                                .tab-button
                                    button.tablinks.active(data-target="Bireysel") Bireysel 
                                    button.tablinks(data-target="Kurumsal") Kurumsal
                                .tab-lang
                                    .langs
                                        .langs-menu
                                            .langs-menu__image
                                                img(src="assets/img/tr.svg", alt="")
                                            span.langs-menu__code TR 
                                        .langs-menu-content
                                            a(href="").langs-menu-content__item
                                                .langs-menu__image 
                                                    img(src="assets/img/tr.svg", alt="") 
                                                    span.langs-menu__code TR
                                            a(href="").langs-menu-content__item
                                                .langs-menu__image 
                                                    img(src="assets/img/tr.svg", alt="") 
                                                    span.langs-menu__code EN
                            .tabcontent(id="Bireysel")
                                .tabcontent-button
                                    button.btn.btn--big İnternet Şubesi
                                a(href="").tabcontent-item 
                                    .tabcontent-item-image 
                                    .tabcontent-item-content  
                                        .tabcontent-item-content-title.title--xs Kartlar 
                                        .tabcontent-item-content-text.title--xxs Kısa Bir Açıklama 
                                a(href="").tabcontent-item 
                                    .tabcontent-item-image 
                                    .tabcontent-item-content  
                                        .tabcontent-item-content-title.title--xs Kartlar 
                                        .tabcontent-item-content-text.title--xxs Kısa Bir Açıklama
                                a(href="").tabcontent-item 
                                    .tabcontent-item-image 
                                    .tabcontent-item-content  
                                        .tabcontent-item-content-title.title--xs Kartlar 
                                        .tabcontent-item-content-text.title--xxs Kısa Bir Açıklama
                                a(href="").tabcontent-item 
                                    .tabcontent-item-image 
                                    .tabcontent-item-content  
                                        .tabcontent-item-content-title.title--xs Kartlar 
                                        .tabcontent-item-content-text.title--xxs Kısa Bir Açıklama
                                a(href="").tabcontent-item 
                                    .tabcontent-item-image 
                                    .tabcontent-item-content  
                                        .tabcontent-item-content-title.title--xs Kartlar 
                                        .tabcontent-item-content-text.title--xxs Kısa Bir Açıklama
                                a(href="").tabcontent-item 
                                    .tabcontent-item-image 
                                    .tabcontent-item-content  
                                        .tabcontent-item-content-title.title--xs Kartlar 
                                        .tabcontent-item-content-text.title--xxs Kısa Bir Açıklama
                                .tabcontent-footer
                                    .tabcontent-footer-left 
                                        a(href="#") Kampanyalar 
                                        a(href="#") Hakkımızda 
                                    .tabcontent-footer-right 
                                        a(href="#") Oranlar ve Ücretler
                                        a(href="#") Destek
                            .tabcontent(id="Kurumsal")
                                .tabcontent-button
                                    button.btn.btn--big İnternet Şubesi
                                a(href="").tabcontent-item 
                                    .tabcontent-item-image 
                                    .tabcontent-item-content  
                                        .tabcontent-item-content-title.title--xs Kartlar 
                                        .tabcontent-item-content-text.title--xxs Kısa Bir Açıklama 
                                a(href="").tabcontent-item 
                                    .tabcontent-item-image 
                                    .tabcontent-item-content  
                                        .tabcontent-item-content-title.title--xs Kartlar 
                                        .tabcontent-item-content-text.title--xxs Kısa Bir Açıklama
                                a(href="").tabcontent-item 
                                    .tabcontent-item-image 
                                    .tabcontent-item-content  
                                        .tabcontent-item-content-title.title--xs Kartlar 
                                        .tabcontent-item-content-text.title--xxs Kısa Bir Açıklama
                                a(href="").tabcontent-item 
                                    .tabcontent-item-image 
                                    .tabcontent-item-content  
                                        .tabcontent-item-content-title.title--xs Kartlar 
                                        .tabcontent-item-content-text.title--xxs Kısa Bir Açıklama
                                .tabcontent-footer
                                    .tabcontent-footer-left 
                                        a(href="#") Kampanyalar 
                                        a(href="#") Hakkımızda 
                                    .tabcontent-footer-right 
                                        a(href="#") Oranlar ve Ücretler
                                        a(href="#") Destek


        // İçerik Başlangıç
        block content



        // İçerik Bitiş
        block footer
            footer.footer
                .container
                    .footer-header 


                    .footer-banner 
                        .footer-banner-left 

                        .footer-banner-right 
                            a(href="") İletişim ve Ulaşım 
                            a(href="") Bilgi Güvenliği 
                            a(href="") KVKK Aydınlatma Metni   s
                
                    
                        






        block scripts
            script(src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js')
            script(src='https://unpkg.com/swiper@7/swiper-bundle.min.js')
            script(src="assets/js/all.js")


