@font-face {
  font-family: 'Mark Pro Medium';
  src: url('../fonts/Mark Pro Medium.woff2') format('woff2'),
  url('../fonts/Mark Pro Medium.woff') format('woff'),
  url('../fonts/Mark Pro Medium.svg.svg#Markpro-Medium') format('svg');
  font-weight:500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Mark Pro';
  src: url('../fonts/Mark Pro.woff2') format('woff2'),
  url('../fonts/Mark Pro.woff') format('woff'),
  url('../fonts/Mark Pro.svg.svg#Markpro') format('svg');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Mark Pro Bold';
  src: url('../fonts/Mark Pro Bold.woff2') format('woff2'),
  url('../fonts/Mark Pro Bold.woff') format('woff'),
  url('../fonts/Mark Pro Bold.svg.svg#Markpro-Bold') format('svg');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Mark Pro Heavy';
  src: url('../fonts/Mark Pro Heavy.woff2') format('woff2'),
  url('../fonts/Mark Pro Heavy.woff') format('woff'),
  url('../fonts/Mark Pro Heavy.svg.svg#Markpro-Heavy') format('svg');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}



